{% set context='app' %}
{% extends 'base.html' %}

{% block navbar %}
<a href="/"><div class="siimple-btn icon-close"></div></a>
{% if current_user.isadmin %}
<a href="/book"><div class="siimple-btn icon-add"></div></a>
{% endif %}
<div class="siimple-btn icon-download" onclick="export_table_to_csv('table', 'books.csv');"></div>
{% endblock %}

{% block body %}
<div class="siimple-h2">Livres</div>
<div class="search icon-search"><input id="search" type="text" class="siimple-input"></div>
<div id = "table" class="siimple-table">
    <div class="siimple-table-header">
        <div class="siimple-table-row">
            <div class="siimple-table-cell hidden">Id</div>
            <div class="siimple-table-cell">Num</div>
            <div class="siimple-table-cell">Titre</div>
            <div class="siimple-table-cell">Auteur</div>
            <div class="siimple-table-cell">Année</div>
            <div class="siimple-table-cell">En course</div>
            <div class="siimple-table-cell hidden">Last modified by</div>
            <div class="siimple-table-cell hidden">Last modified</div>
        </div>
    </div>
    <div class="siimple-table-body">
        {% for book in books %}
        <div class="siimple-table-row" onclick="window.location='/book/{{ book.id }}'">
            <div class="siimple-table-cell hidden">{{ book.id }}</div>
            <div class="siimple-table-cell">{{ book.idext }}</div>
            <div class="siimple-table-cell">{{ book.title }}</div>
            <div class="siimple-table-cell">{{ book.author }}</div>
            <div class="siimple-table-cell">{{ book.year }}</div>
            <div class="siimple-table-cell">{{ book.onraceStr }}</div>
            <div class="siimple-table-cell hidden">{{ book.lastmodifiedby }}</div>
            <div class="siimple-table-cell hidden">{{ book.lastmodified }}</div>
        </div>
        {% endfor %}
    </div>
</div>
</button>
{% endblock %}