{% extends 'base.html' %}

{% block navbar %}
<a href="/"><div class="siimple-btn icon-close"></div></a>
<div class="siimple-btn icon-download" onclick="export_table_to_csv('table', 'synth.csv');"></div>
<div id="btnFilter" class="siimple-btn icon-filter" onclick="filterRace()"></div>
<a id="btnNoFilter" href="/reviews" class="hidden"><div class="siimple-btn icon-filter"></div></a>

{% endblock %}

{% block body %}
<div class="siimple-h2">Synthèse</div>
<div class="search icon-search"><input id="search" type="text" class="siimple-input"></div>
<div id = "table" class="siimple-table">
    <div class="siimple-table-header">
        <div class="siimple-table-row">
            <div class="siimple-table-cell">Num</div>
            <div class="siimple-table-cell">Auteur</div>
            <div class="siimple-table-cell">Titre</div>
            <div class="siimple-table-cell">En course</div>
            <div class="siimple-table-cell">Note</div>
            <div class="siimple-table-cell">Nbre de note</div>
            {% for user in users %}
            <div class="siimple-table-cell"><div class="text-vertical">{{ user.name }}</div></div>
            {% endfor %}
        </div>
    </div>
    <div class="siimple-table-body">
        {% for book in books %}
        <div class="siimple-table-row hidden {% if book.onrace %}onrace{% else %} noonrace {% endif %}">
            <div class="siimple-table-cell">{{ book.idext }}</div>
            <div class="siimple-table-cell">{{ book.author }}</div>
            <div class="siimple-table-cell">{{ book.title }}</div>
            <div class="siimple-table-cell">{{ book.onraceStr }}</div>
            <div class="siimple-table-cell">{% if book.average %}{{ book.average }}{% endif %}</div>
            <div class="siimple-table-cell">{{ book.notes |length }}</div>
            {% for user in users %}
            <div class="siimple-table-cell border-left">{{ book.getNoteFrom(user.id) }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
<script>
function filterRace(){    
    var books = document.querySelectorAll(".siimple-table-row.noonrace");
    for (var i = 0; i < books.length; i++) {
        books[i].classList.remove("hidden");
    };
    document.getElementById('btnFilter').classList.add("hidden");
    document.getElementById('btnNoFilter').classList.remove("hidden");
}
var books = document.querySelectorAll(".siimple-table-row.onrace");
for (var i = 0; i < books.length; i++) {
    books[i].classList.remove("hidden");
};
</script>
{% endblock %}