{% extends 'base.html' %}

{% block body %}
<div align="center">
    {% if current_user.isadmin %}
    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Users</div>
        <div class="siimple-card-body" align="left">
            <div class="icon icon-user"></div>
            <a href="/users"><div class="siimple-btn siimple-btn--fluid siimple-btn--warning">Manage</div></a>
        </div>
    </div>
    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Import</div>
        <div class="siimple-card-body" align="left">
            <div class="icon icon-upload"></div>
            <a href="/up"><div class="siimple-btn siimple-btn--fluid siimple-btn--warning">Manage</div></a>
        </div>
    </div>
    {% endif %}

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Books</div>
        <div class="siimple-card-body" align="left">
            <div class="icon icon-book"></div>
            <a href="/books"><div class="siimple-btn siimple-btn--fluid siimple-btn--primary">Manage</div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Note</div>
        <div class="siimple-card-body" align="left">
            <div class="icon icon-edit"></div>
            <a href="/notes"><div class="siimple-btn siimple-btn--fluid siimple-btn--primary">Manage</div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Reviews</div>
        <div class="siimple-card-body" align="left">
            <div class="icon icon-medal"></div>
            <a href="/reviews"><div class="siimple-btn siimple-btn--fluid siimple-btn--primary">Manage</div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Notes Rapides</div>
        <div class="siimple-card-body" align="left">
            <div class="icon icon-magical"></div>
            <a href="/wizardnote"><div class="siimple-btn siimple-btn--fluid siimple-btn--primary">Run</div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">About</div>
        <div class="siimple-card-body" align="left">
            <div class="icon icon-info"></div>
            <a href="/info"><div class="siimple-btn siimple-btn--fluid siimple-btn--primary">Info</div></a>
        </div>
    </div>
</div>
{% endblock %}