{% extends 'base.html' %}

{% block body %}
<div align="center">
    {% if current_user.isadmin %}
    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Users</div>
        <div class="siimple-card-body" align="left">
            <a href="/users" class="no-decorate siimple--color-warning"><div class="icon icon-user"></div></a>
        </div>
    </div>
    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Import</div>
        <div class="siimple-card-body" align="left">
            <a href="/up" class="no-decorate siimple--color-warning"><div class="icon icon-upload"></div></a>
        </div>
    </div>
    {% endif %}

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Books</div>
        <div class="siimple-card-body" align="left">
            <a href="/books" class="no-decorate siimple--color-primary"><div class="icon icon-book"></div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Note</div>
        <div class="siimple-card-body" align="left">
            <a href="/notes" class="no-decorate siimple--color-primary"><div class="icon icon-edit"></div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Reviews</div>
        <div class="siimple-card-body" align="left">
            <a href="/reviews" class="no-decorate siimple--color-primary"><div class="icon icon-medal"></div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Notes Rapides</div>
        <div class="siimple-card-body" align="left">
            <a href="/wizardnote" class="no-decorate siimple--color-primary"><div class="icon icon-magical"></div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">About</div>
        <div class="siimple-card-body" align="left">
            <a href="/info" class="no-decorate siimple--color-primary"><div class="icon icon-info"></div></a>
        </div>
    </div>
</div>
{% endblock %}