{% extends 'base.html' %}

{% block body %}
<div align="center" id="nowait">
    {% if current_user.isadmin %}
    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Users</div>
        <div class="siimple-card-body" align="left">
            <a href="/users" class="no-decorate siimple--color-warning"><div class="icon icon-user"></div></a>
        </div>
    </div>
    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Import</div>
        <div class="siimple-card-body" align="left">
            <a href="/up" class="no-decorate siimple--color-warning"><div class="icon icon-upload"></div></a>
        </div>
    </div>
    {% endif %}

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Livres</div>
        <div class="siimple-card-body" align="left">
            <a href="/books" class="no-decorate siimple--color-primary"><div class="icon icon-book"></div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Notes</div>
        <div class="siimple-card-body" align="left">
            <a href="/notes" class="no-decorate siimple--color-primary"><div class="icon icon-edit"></div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Relecture</div>
        <div class="siimple-card-body" align="left">
            <a href="/reviews" class="no-decorate siimple--color-primary"><div class="icon icon-medal"></div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Notes Rapides</div>
        <div class="siimple-card-body" align="left">
            <a href="/wizardnote" class="no-decorate siimple--color-primary"><div class="icon icon-magical"></div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Synthèse</div>
        <div class="siimple-card-body" align="left">
            <a onclick="view_wait();location.href='/synth';" class="no-decorate siimple--color-primary"><div class="icon icon-table"></div></a>
        </div>
    </div>

    <div class="shortcut siimple-card siimple--display-inline-block" style="max-width:33%;">
        <div class="siimple-card-header">Au sujet de</div>
        <div class="siimple-card-body" align="left">
            <a href="/info" class="no-decorate siimple--color-primary"><div class="icon icon-info"></div></a>
        </div>
    </div>
</div>
<div align="center" class="hidden" id="wait">
    <div class="siimple-spinner siimple-spinner--primary siimple-h3"></div>
</div>
{% endblock %}