{% set context='app' %}
{% extends 'base.html' %}

{% block navbar %}
<a href="/"><div class="siimple-btn icon-close"></div></a>
<div class="siimple-btn icon-print" onclick="print()"></div>
<div id="btnFilter" class="siimple-btn icon-filter" onclick="filterRace()"></div>
<a id="btnNoFilter" href="/reviews" class="hidden"><div class="siimple-btn icon-filter"></div></a>

{% endblock %}

{% block body %}
<div class="siimple-h2">Reviews</div>
{% for book in books %}
    <div id="book-card{{ book.id }}" class="siimple-card book-card {% if book.onrace %}onrace{% else %} noonrace {% endif %}">
        <div class="siimple-card-header">
        {{ book.idext }} - {{ book.title }} de <span class="siimple--text-italic">{{ book.author }}</span> - {% if book.average %}<span class="siimple-tag siimple-tag--success siimple-tag--rounded">{{ book.average }}</span>{% endif %}
            <div class="no-print float-right ">
                {% if current_user.isadmin %}
                <div id="switchonrace{{ book.id }}" class="siimple-switch siimple-switch--success no-print float-right "><input type="checkbox" id="mySwitchOnrace{{ book.id }}" {% if book.onrace %}checked{% endif %} onclick="onrace('{{ book.id }}', 'book-card{{ book.id }}')"><label for="mySwitchOnrace{{ book.id }}"></label></div>
                {% endif %}
                <div class="no-print float-right margintopfive">{% if book.onrace %}En course{% else %}Hors course{% endif %}</div>
            </div>
            </div>
        <div class="siimple-card-body">
        {% for note in book.notes %}
            {% if note.checked %}
            <div id="note{{ note.id}}" class="siimple-tip no-background">
            {% else %}
            <div id="note{{ note.id}}" class="siimple-tip siimple-tip--primary siimple-tip--add no-background">
            {% endif %}
                <div class="siimple--text-bold">
                    <span class="siimple-tag siimple-tag--primary siimple-tag--rounded">{{ note.noteStr }}</span>
                    <a class="no-decorate" href="/note/{{ note.id }}">{{ note.user.name }}</a>
                    {% if current_user.isadmin %}
                    <div id="switchnote{{ note.id }}" class="siimple-switch no-print float-right {% if note.checked %}hidden{% endif %}"><input type="checkbox" id="mySwitch{{ note.id }}" checked onclick="review('{{ note.id}}','switchnote{{ note.id}}','note{{ note.id}}')"><label for="mySwitch{{ note.id }}"></label></div>
                    {% endif %}
                </div>
                <div>{{ note.description }}</div>
            </div>
        {% endfor %}
        </div>
    </div>  
{% endfor %}
<script>
function review(id, switchnote, note){
    var xmlHttp = new XMLHttpRequest();
    var theUrl = "/note/valid/" + id;
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
            document.getElementById(switchnote).classList.add("hidden");
            document.getElementById(note).classList.remove("siimple-tip--success");
        }
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
    xmlHttp.send(null);
}
function onrace(id, bookcard){
    var xmlHttp = new XMLHttpRequest();
    var theUrl = "/note/onrace/" + id;
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
            if (document.getElementById(bookcard).classList.contains('noonrace')) {
                document.getElementById(bookcard).classList.remove('noonrace');
                document.getElementById(bookcard).classList.add('onrace');
                document.getElementById(bookcard).querySelectorAll('.margintopfive')[0].innerText = "En course";
            } else {
                document.getElementById(bookcard).classList.remove('onrace');
                document.getElementById(bookcard).classList.add('noonrace');
                document.getElementById(bookcard).querySelectorAll('.margintopfive')[0].innerText = "Hors course";
            }
        }
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
    xmlHttp.send(null);
}
function filterRace(){    
    var books = document.querySelectorAll(".book-card.noonrace");
    for (var i = 0; i < books.length; i++) {
        books[i].classList.add("hidden");
    };
    document.getElementById('btnFilter').classList.add("hidden");
    document.getElementById('btnNoFilter').classList.remove("hidden");
}
</script>
{% endblock %}