{% set context='app' %}
{% extends 'base.html' %}

{% block navbar %}
<a href="/"><div class="siimple-btn icon-close"></div></a>
<a href="/note"><div class="siimple-btn icon-add"></div></a>
<div class="siimple-btn icon-download" onclick="export_table_to_csv('table', 'notes.csv');"></div>
{% endblock %}

{% block body %}
<div class="siimple-h2">Notes</div>
<div class="search icon-search"><input id="search" type="text" class="siimple-input"></div>
<div id = "table" class="siimple-table">
    <div class="siimple-table-header">
        <div class="siimple-table-row">
            <div class="siimple-table-cell hidden">Id</div>
            <div class="siimple-table-cell">Num</div>
            <div class="siimple-table-cell">Title</div>
            <div class="siimple-table-cell">User</div>
            <div class="siimple-table-cell">Note</div>
            <div class="siimple-table-cell hidden">Last modified by</div>
            <div class="siimple-table-cell hidden">Last modified</div>
        </div>
    </div>
    <div class="siimple-table-body">
        {% for note in notes %}
        <div class="siimple-table-row" onclick="window.location='/note/{{ note.id }}'">
            <div class="siimple-table-cell hidden">{{ note.id }}</div>
            <div class="siimple-table-cell">{{ note.book.idext }}</div>
            <div class="siimple-table-cell">{{ note.book.title }}</div>
            <div class="siimple-table-cell">{{ note.user.name }}</div>
            <div class="siimple-table-cell">{{ note.noteStr }}</div>
            <div class="siimple-table-cell hidden">{{ note.lastmodifiedby }}</div>
            <div class="siimple-table-cell hidden">{{ note.lastmodified }}</div>
        </div>
        {% endfor %}
    </div>
</div>
</button>
{% endblock %}